/* Shared styles */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Open+Sans&display=swap'); /*Heading font family- Merriweather*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;900&family=Open+Sans&display=swap');

  *{
    margin: 0px;
    padding: 0px;
  }
.header_merri_font{
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
  }
.text_inter_font{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}
.red_text{
    color:#F00; 
    font-size: 18px;
    font-weight: 500;
}
.para_font{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400; 
}
/* Banner styles */
.banner{
    filter: brightness(80%);
    background-image: url(../resources/Banner\ Image.png);
    border-radius: 5px;
    margin: 20px;
    width: 100%;
    max-width: 1320px;
    background-repeat: no-repeat; 
}

.banner_text{
    color: white;
    text-align: center;
    margin: 50px;
    padding: 170px 250px;
}
.banner_title1{
    font-size: 32px;
    font-weight: 400;
    /* padding: 177px 531px 384px 530px; */
}
.banner_text_big{
    font-size: 72px;
   }

/* Off section style starts */
.off_section_img{
    margin: auto;
    width: 800px;
    height: 500px;
    align-items: center;

}
.off_section{
    /* margin: auto; */
    width: 100%;
    max-width: 1320px;
    /* padding: 0px; */
}
.off_heading_text{
    text-align: center;
    color: #F00;
    font-size: 80px;
    font-weight: 700;
}
.off_deal_text{
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.off_catagory_text{
    color: #070211;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 5px 0px 30px 0px;
    padding: 0px;
}

/* Welcome party styles */
.wel_party{
    display: flex;
    justify-content: space-between;
    background-image: url(../resources/Vectorrr.png);
    margin: 100px 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 1320px;
    height: 500px;
    background-repeat: no-repeat; 
}
.wel_party_content{
  padding: 100px 0px 100px 150px;  
}
.wel_party_title{
    color: #FFF;
    font-size: 60px;
    letter-spacing: 5px;
    height: 170px;
    width: 600px;
    padding: 0px;
    margin: 0px;
}
.wel_party_para{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    width: 650px;
    height: 60px;
    padding-bottom: 20px;
    margin: 0px;
}
.wel_party_btn{
    height: 20px;
    width: 120px;
    background: none;
    background-color: none;
    border: none;
    color: #FFF;
    font-size: 15px;
    font-weight: 800px;
    text-transform: uppercase;
}
/* Place_date section */
.place_head{
    height: 400px;
    width: 100%;
    max-width: 1320px;
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 80%); 
    /* background-repeat: no-repeat;  */
    color: #070211;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 50px;
}
.place_span_red{
    color: #F00;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}
.place_head_text{
    margin: 0px;
    padding: 10px;
}
.place_btn{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    background-color: #F00;
    margin: 50px;
    padding: 10px 20px;
    
}
/* Coming soon style starts */
.com_soon_container{
    display: flex;
    width: 100%;
    max-width: 1320px;
    border-radius: 5px;
    height: 500px;
    justify-content: space-between;
}
.com_soon_div{
    padding: 100px;
}
.new_best_head{
    font-weight: 500;
    height: 25px;
    width: 200px;
}
.com_soon_head{
    color: #070211;
    font-size: 40px;
    height: 50px;
    width: 350px;
    text-transform: capitalize;
}
#com_soon_para{
    width: 350px;
    height: 120px;
    padding-top: 100px;
    }
.red_border_img{
    padding: 50px;
    border-radius: 463px;
    border: 15px solid #F00;
}
.year_head{
    color: #F00;
    font-size: 45px;
    font-weight: 700;
    width: 150px;
    height: 55px;
}
#year_text{
    padding-top: 50px;
    height: 95px;
    width: 275px;
}
.year_img{
    height: 140px;
    width: 140px;
}
/* Holiday section start */
.holi_sec_container{
    width: 100%;
    border-radius: 5px;
    max-width: 1320px;
 }
.holi_sec_title{
    width: 260px;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    padding-top: 50px;
    margin: auto;
    text-align: center; 
}
.holi_sale_text{
    font-size: 72px;
    width: 670px;
    height: 90px;
    margin: auto;
    text-align: center; 
}
.holi_sale_text span{
    color: #F00;
}
.holi_sec_para{
    color: rgba(7, 2, 17, 0.60);
    width: 1050px;
    height: 95px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin :auto;
    padding-top: 20px;
}
.holiday_img_container{
    display: flex;
    background-image: url(../resources/Rectangle\ 2.png);
    margin-left: 20px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.lady_50_box{
    display: flex;
   }
.img_fifty{
     position: absolute;
    } 
.lady_img{
    position: absolute;
    padding-left: 100px;
    margin: 0px;
    width: 400px;
    height: 435px;
}
/* Awesome Portfolio styles */
.awesome_port_container{
    width: 100%;
    border-radius: 5px;
    max-width: 1320px;
    margin: auto;
  }

#aw_port_head{
    width: 560px;
    height: 60px;
}
#aw_port_text{
    width: 890px;
    height: 60px;
    margin: 0px;
    text-align: start;
}
/* Subscribe styles */
#subs_head{
    text-align: center;
    width: 520px;
    height: 60px;
    margin: auto;
   }

#holi_conta_id{
    padding-top: 50px;
    padding-bottom: 100px;
    margin: auto;
    text-align: center; 
}
#subs_email{
    width: 500px;
    height: 50px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    padding: 0px;
}
.subscribe_btn{
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
}
/* footer section styles */
.foot_container{
    width: 100%;
    /* border-radius: 10px;
    max-width: 1320px; */
    margin: auto;
    background: none;
    background-color: #070211;
}

.foot_address_container{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    margin: auto;
}
.foot_text{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}
.foot_address{
    width: 370px;
    height: 80px;
    
} 
.foot_btn_container{
    display: flex;
    justify-content: space-around;
    /* padding-left: 100px;
    padding-right: 100px; */
    margin: auto;
    padding-bottom: 100px;
    padding-top: 50px;
}
.foot_images{
    padding: 50px;
    margin: 20px 400px 20px 400px;
    
}
.foot_btn{
    background: none;
    background-color: none;
    border: none;
}

#all_right_id{
    width: 295px;
    height: 30px;
}
#unsub_id{
    width: 145px;
    height: 30px;
}
.hr_style{
    max-width: 1320px;
    margin: auto;
    border-color: rgba(255, 255, 255, 0.15);
   }