/* Shared styles */
.para_font{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}
/* Banner styles */
.banner{
    filter: brightness(80%);
    background-image: url(../resources/Banner\ Image.png);
    border-radius: 5px;
    margin: 20px;
    width: 100%;
    background-repeat: no-repeat; 
}

.banner_text{
    color: white;
    text-align: center;
    margin: 50px;
    padding: 170px 250px;
}
.banner_title1{
    font-size: 32px;
    font-weight: 400;
    /* padding: 177px 531px 384px 530px; */
}
.banner_text_big{
    font-size: 72px;
    font-weight: 900;
}

/* Off section style starts */
.off_section_img{
    width: 802.9px;
    height: 500px;

}
.off_section{
    margin: auto;
    width: 60%;
    padding: 0px 5px;
}
.off_heading_text{
    text-align: center;
    color: #F00;
    font-size: 80px;
    font-weight: 700;
}
.off_deal_text{
    color: #F00;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}
.off_catagory_text{
    color: #070211;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 5px 0px 30px 0px;
    padding: 0px;
}

/* Welcome party styles */
.wel_party{
    background-image: url(../resources/Vectorrr.png);
    margin: 100px 20px;
    border-radius: 5px;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat; 
}
.wel_party_content{
  padding: 100px 0px 100px 150px;  
}
.wel_party_title{
    color: #FFF;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 5px;
    height: 170px;
    width: 600px;
    padding: 0px;
    margin: 0px;
}
.wel_party_para{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    width: 650px;
    height: 60px;
    padding-bottom: 20px;
    margin: 0px;
}
.wel_party_btn{
    height: 20px;
    width: 120px;
    background: none;
    background-color: none;
    border: none;
    color: #FFF;
    font-size: 15px;
    font-weight: 800px;
    text-transform: uppercase;
}
/* Place_date section */
.place_head{
    height: 400px;
    width: 90%;
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); 
    /* background-repeat: no-repeat;  */
    color: #070211;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 100px 50px;
}
.place_span_red{
    color: #F00;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}
.place_head_text{
    margin: 0px;
    padding: 10px;
}
.place_btn{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    background-color: #F00;
    margin: 50px;
    padding: 10px 20px;
    
}
/* Coming soon style starts */
.new_best_head{
    color: #F00;
    /* text-align: center; */
    font-size: 15px;
    font-weight: 500;
    height: 25px;
    width: 200px;
    margin: 0px;
    padding: 0px;
}
.com_soon_head{
    color: #070211;
    font-size: 50px;
    font-weight: 900;
    height: 50px;
    width: 300px;
    margin: 0px;
    padding: 0px;
    text-transform: capitalize;
}
#com_soon_para{
    width: 350px;
    height: 120px;
    padding-top: 10px;
    }
.red_border_img{
    padding: 50px;
    border-radius: 463px;
    border: 15px solid #F00;
}
.year_head{
    color: #F00;
    font-size: 45px;
    font-weight: 700;
    width: 150px;
    height: 55px;
}
#year_text{
    padding: 0px;
    height: 95px;
    width: 275px;
}
.year_img{
    height: 140px;
    width: 140px;
}
.com_soon_container{
    display: flex;
    /* margin: 0px 20px; */
    padding: 0px;
    border-radius: 5px;
    /* width: 90%; */
    height: 500px;
    justify-content: space-between;
}
.com_soon_div{
    padding: 100px;
}